
/*Regla para que los margenes se apliquen solo al contenido de la caja*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*Inicio Slider*/
.slide img{
  height: 93vh;
  opacity: 0.9;
  
  
}
.carousel-caption{
  margin-bottom: 220px;
  
  
}
.carousel-caption h3{
  font-size: 95px !important;
}
.btn-mas{
  background-color: rgb(255, 255, 255,0.1) !important;
  color: antiquewhite;
  border: 1px solid white  !important;
}
.btn-mas:hover,.btn-hover:hover{
  background-color: rgb(255, 255, 255) !important;
  color: blue !important;
}

/*Fin slider*/

/*Animaciones*/
.animate__backInDown,.animate__backInLeft,.animate__rotateInDownLeft{
  --animate-delay: 9s;
  --animate-duration: 3s;
}

.container{
  height: 100vh;
  background-color: aqua;
}
.content-1{
  
}
.img-conten-1{
  width: 900px;
}