/*Regla para que los margenes se apliquen solo al contenido de la caja*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  list-style: none;
  }

header{
  padding: 1px 0px;
}
.lista{
  display: inline-block;
  width: 100%;
  padding-left: 211px;
}
.mlf-6{
  margin: 0 5px;
}
.centrado-vertical{
  align-items: center;
}
.centrado-vertical2{
  font-variant: all-small-caps;
}
.fz-12{
  font-size: 12px
}
.fz-42{
  font-size: 37px;
}
h4 strong{
  font-size: 15px;
}
.ns{
  font-size: 12px;
}


/*FORMULARIO*/
.contact{
  justify-content: center;
}
.form{
  justify-content: center;
}
.form input{
  border-radius: 30px;
  background-color:#eaf3ff ;
  height: 50px;
}
.form textarea{
  border-radius: 30px;
  background-color: #eaf3ff ;
}
.boton-envio{
  display: flex;
  justify-content: center;
}
.boton-hover{
  height: 47px;
    width: 148px;
    border-radius: 10px;
    text-align: center;
    background-color: cornflowerblue;
    padding-top: 20px;
}
.boton-hover:hover{
  background-color: rgb(241, 203, 95);
}